.app-wrapper{

  margin: 0 auto;

  display: grid;
  width: 1200px;

  grid-template-areas: 
  "h-grid h-grid"
  "n-grid mc-grid";
  grid-template-rows: 140px 1fr;
  grid-template-columns: 2fr 10fr;

}

ul li {
  list-style-type: lower-greek;
}

