.app-wrapper{

  margin: 0 auto;

  display: grid;
  width: 1200px;

  grid-template-areas: 
  "h-grid h-grid"
  "n-grid mc-grid";
  grid-template-rows: 140px 1fr;
  grid-template-columns: 2fr 10fr;

}


.header-grid{
  grid-area: h-grid;
  background-color: green;
}

.header-grid img{
  width: 80px;
}

.nav-grid{
  grid-area: n-grid;
  background-color: greenyellow;
}

.main-content-grid{
  grid-area: mc-grid;
  background-color: grey;
}

ul li {
  list-style-type: lower-greek;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
